In [1]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  朱彥志  59  65  74  69  85  352  70.4
1   2  謝佳穎  63  52  86  80  83  364  72.8
2   3  王士銘  69  60  69  77  67  342  68.4
3   4  艾巧夫  95  84  53  94  58  384  76.8
4   5  蔡欣汝  85  92  72  74  79  402  80.4
5   6  黃偉剛  74  84  73  82  59  372  74.4
6   7  吳麗卿  90  65  82  71  57  365  73.0
7   8  李慶亮  54  80  64  63  55  316  63.2
8   9  柯宜臻  83  60  86  54  90  373  74.6
9  10  陳筱涵  61  61  50  70  84  326  65.2